*
{
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  color: #ffff;
  background: rgba(73, 1, 144, 0.867);
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom:solid 1px rgba(255, 255, 255, 0.16);
  width: 100vw;
  height: 10vh;
}

#logo {
  font-weight: bolder;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  margin-left: 8vw;
}


.navLinks ul{
  margin-right: 30px;
  display: flex;
}

.navLinks {
  display: flex;
  align-items: center;
}

.navLinks ul li{
  list-style: none;
}

.navLinks ul li a {
  margin: 20px;
  text-decoration: none;
  color: #ffffff82;
}

/* Animação da navBar */


.navLinks ul li a:hover {
  border-bottom: solid 1px #ffffff8f;
}

.navLinks #home a{
  color: #ffff;
}

.main {
  margin: 150px;
  justify-content: space-between;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
}

.container h1 {
  font-size: 4rem;
}

.button {
  margin-top: 50px;
}

.button button {
  font-weight: 600;
  font-size: 15px;
  color:  rgba(73, 1, 144, 0.867);
  text-align: center;
  height: 50px;
  width: 150px;
  border-radius: 48px;
  border: none;
  background: #fff;
}

.button button:hover {
  cursor: pointer;
}

/* Menu hamburguer */


#menuHamburguer {
  display: none;
  cursor: pointer
}

.menu {
  border-radius: 13%;
  margin: 7px;
  height: 5px;
  width: 45px;
  background: #ffff;
}


/* Responsivo */

@media screen and (max-width: 1200px) {
  .navLinks {
    display: none;
  }
  #menuHamburguer {
    margin: 25px;
    display: block;
  }
}

